#ju_landing.adulto{
    #landing_hero{
        .ju-container{
            &:before{
                background: url(../images/adultos.png);
                background-size: cover;
            }
            .hero-content{
                h3{
                    span{
                        &:first-of-type{
                            max-width: 10em;
                        }
                    }
                }
            }
        }
    }
}