#ju_landing{
    .modular-button, input[type=submit].modular-button{
        margin: .5rem 0 0;
        font-size: .9375em;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        background: green;
        outline: none;
        cursor: pointer;
        box-shadow: inset 0 0 0 2px green;
        line-height: 1;
        display: inline-block;
        padding: 1em 1.86em;
        border-radius: .35em;
        border: none;
        transition: all .3s ease;
        &:hover{
            color: green;
            background: white;
        }
    }
}