@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/trebuchet-bolditalic.eot');
    src: url('../fonts/trebuchet-bolditalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/trebuchet-bolditalic.woff2') format('woff2'),
        url('../fonts/trebuchet-bolditalic.woff') format('woff'),
        url('../fonts/trebuchet-bolditalic.ttf') format('truetype'),
        url('../fonts/trebuchet-bolditalic.svg#trebuchet-bolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/trebuchetms.eot');
    src: url('../fonts/trebuchetms.eot?#iefix') format('embedded-opentype'),
        url('../fonts/trebuchetms.woff2') format('woff2'),
        url('../fonts/trebuchetms.woff') format('woff'),
        url('../fonts/trebuchetms.ttf') format('truetype'),
        url('../fonts/trebuchetms.svg#trebuchetms') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/trebuchetms-bold.eot');
    src: url('../fonts/trebuchetms-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/trebuchetms-bold.woff2') format('woff2'),
        url('../fonts/trebuchetms-bold.woff') format('woff'),
        url('../fonts/trebuchetms-bold.ttf') format('truetype'),
        url('../fonts/trebuchetms-bold.svg#trebuchetms-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../fonts/trebuchetms-italic.eot');
    src: url('../fonts/trebuchetms-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/trebuchetms-italic.woff2') format('woff2'),
        url('../fonts/trebuchetms-italic.woff') format('woff'),
        url('../fonts/trebuchetms-italic.ttf') format('truetype'),
        url('../fonts/trebuchetms-italic.svg#trebuchetms-italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
